@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("img/IMG-20230108-WA0052.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}
 
.kotak{
    width: 400px;
    height: 50px;
    border: 3px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    display: block;
    font-size: 30px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}
 
.kotak{
    background-color: #02FF0F;
}

.header{
    text-align: center;
    font-size: 35px;
}
 
.header img{
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
}
 
.footer{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}
