body {

    background: linear-gradient(-45deg, #041c32, #04293a, #020101, #10066638);

    background-attachment: fixed;

    background-size: 400% 400%;

    animation: gradient 15s ease infinite;

    height: 100vh;

    overflow-x: hidden;

    padding: 18px

  }



  @keyframes gradient {

    0% {

      background-position: 0% 50%;

    }



    50% {

      background-position: 100% 50%;

    }



    100% {

      background-position: 0% 50%;

    }

  }



  h1,

  h6 {

    color: #f5f5f5;

    text-shadow: 2px 2px 30px black

  }



  #textdiatas {

    float: left;

    color: #f5f5f5;

    text-shadow: 2px 2px 30px black;

    padding-right: 25px

  }



  .footer {

    margin-top: 5% !important;

    margin-bottom: 10px

  }



  @media (max-width:479px) {

    .footer {

      margin-top: 35% !important

    }

  }



  .order-card {

    color: #fff

  }



  .bg-c-blue {

    background: linear-gradient(45deg, #0c0e0f, #041c32)

  }



  img {

    border: 2px solid #2ed8b6

  }



  .card {

    border-radius: 5px;

    -webkit-box-shadow: 0 1px 2.94px .06px rgba(7, 8, 8, 0.16);

    box-shadow: 0 1px 2.94px .06px rgba(7, 8, 8, 0.16);

    border: none;

    margin-bottom: 30px;

    -webkit-transition: all .3s ease-in-out;

    transition: all .3s ease-in-out

  }



  .card .card-block {

    padding: 25px

  }
